@import './variables.module.scss';


button:not(.btn) {
    display: inline-block;
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 30px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    &.black {
        background-color: $black;
        color: white;
        &:not(:disabled):hover {
            background: lighten($black, 10%);
        }
    }
    &.blue {
        background-color: $blue;
        color: white;
        &:not(:disabled):hover {
            background: darken($blue, 20%);
        }
    }
    &.red {
        background-color: $red;
        color: white;
        &:not(:disabled):hover {
            background: darken($red, 20%);
        }
    }
    &.yellow {
        background-color: $yellow;
        color: white;
        &:not(:disabled):hover {
            background: darken($yellow, 20%);
        }
    }
    &.green {
        background-color: #034732;
        color: white;
        &:not(:disabled):hover {
            background: darken(green, 20%);
        }
    }
  }

  button:disabled {
    pointer-events: none;
  }

  button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
